<html>
<head>
 <link rel="stylesheet" href="static/Main.css"> 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body bgcolor="#ffccff">

<h1 id = "Title">MARKICORNS SNAP BUTTON</h1>

<form action = "inc" method = "POST">

<input id = "Button" type="image" src="/static/ButtonA.png" onclick="Sound()" id ="Button" width="256" height="256">

<audio id="myAudio">
  <source src="/static/Click.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>


<p>Number of snaps:</p> <p Id = "SnapNum">0</p> <button>Send!</button>
 <canvas id="myCanvas" width="200" height="100" style="border:5px solid  #e6e6e6;"></canvas>

 </form>
 
 <script src = "static/Main.js"></script>
 
 <script>
 
 function ChangeImage(){
 IMG = document.getElementById("Button");
 IMG.src = "/static/ButtonB.png";
 }
 console.log("This loaded!!");
 
 var S = document.getElementById("myAudio");
 S.autoplay = false;
 S.load();
 
 function Sound(){
 console.log("Played?");
 var audio = new Audio("/static/Click.mp3");
 audio.play();
	//S.play();
	//console.log("Sound played!");
	//Stop();
}

function Stop(){
S.currentTime = 0;
S.load();
}
 </script>
 
 <script>
 $("#Button").click(function(event){
 ChangeImage();
 Sound();
 });
 </script>

</body>
</html>