<html>
<head>
 <link rel="stylesheet" href="static/Main.css"> 
 <script src = "static/Main.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body bgcolor="#ffccff">

<h1 id = "Title">MARKICORNS SNAP BUTTON</h1>

<form action = "inc" method = "POST">

<input type="image" src="/static/ButtonA.png" id ="Button" width="256" height="256">


<p>Number of snaps:</p> <p Id = "SnapNum">0</p> <button>Send!</button>
 <canvas id="myCanvas" width="200" height="100" style="border:5px solid  #e6e6e6;"></canvas>

 </form>












</body>
</html>