<html>
<head>
 <link rel="stylesheet" href="static/Main.css"> 
 <script src = "static/Main.js"></script>
</head>
<body bgcolor="#ffccff">

<h1 id = "Title">MARKICORNS SNAP BUTTON</h1>

<img src="/static/ButtonA.png" onclick="Increment(this.id)" id ="Button" width="256" height="256"></img>

<form action = "inc" method = "POST">

<p>Number of snaps:</p> <p Id = "SnapNum">0</p> <button>Send!</button>
 <canvas id="myCanvas" width="200" height="100" style="border:5px solid  #e6e6e6;"></canvas>
 </form>












</body>
</html>